body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #2c7be5;
}

h2, h3 {
    color: #333;
}

div {
    background-color:rgb(204, 214, 220);
    padding: 12px;
    margin: 12px auto;
    width: 80%;
    border-radius: 6px;
}

p {
    color: #444;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#msg {
    color: green;
    font-weight: bold;
}
th{
    background-color: #2b8092;
    color: white;
    padding: 8px;
    width: 100px;
}